# overridden for other environments by env variables
[user]
	name = "Vojtech Jasny"
	email = "voy@voy.cz"

[alias]
	s = status
	l = log --pretty=format:'%Cred%h%Creset %Cgreen%s%Creset [%ar by %an]'
	d = diff -b --color
	branches = branch
	st = status
	co = checkout
	ltree = log --oneline --all --graph
	ls = stash list

[colors]
	diff = auto
	grep = auto
	status = auto
	ui = auto

[apply]
	whitespace = nowarn

[core]
	pager = less -FXRS

[push]
	# only push current branch
	default = upstream
