[user]
    useConfigOnly = true
    email = jasny@amazon.com
    name = Vojtech Jasny

[alias]
    st = status
    co = checkout
    cherrypick = cherry-pick

    l  = log --pretty=format:'%Cred%h%Creset %Cgreen%s%Creset [%ar by %an]'
    sl = log --pretty=format:'%Cred%h%Creset %Cgreen%s%Creset [%ar by %an]' -15
    changelog = log --format='* `%h` %s'
    d = diff --color=always
    pr = pull --rebase
    conflicts = "!f() { git ls-files -u | cut -f 2 | sort -u; }; f"

    recent-branches = "!f() { git for-each-ref --format='%(refname:short)' --sort=-committerdate --count 15 refs/heads/ | tail -r; }; f"

    home = "!f() { git config user.email 'voy@voy.cz'; git config user.name 'Vojtech Jasny'; }; f"
    work = "!f() { git config user.email 'jasny@amazon.com'; git config user.name 'Vojtech Jasny'; }; f"
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order

    root = rev-parse --show-toplevel
    exec = "!exec "

[colors]
    ui = true
    diff = auto
    grep = auto
    status = auto
    interactive = auto

[apply]
    whitespace = nowarn

[core]
    pager = less -FXRS
    excludesfile = /Users/jasny/.gitignore_global

[amazon]
    append-cr-url = true
    pull-request-by-default = false
    sensible = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
    ui = auto

[push]
    default = simple

[commit]
    template = /Users/jasny/.stCommitMsg
