# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'

# This works, but the delay in seeing the first character appear
# is inconsistent with Vim and can be jarring to the user.
'atom-text-editor.vim-mode.insert-mode':
    'j j': 'vim-mode:activate-normal-mode'

'atom-text-editor.vim-mode.normal-mode':
    'ctrl-j': 'pane:show-previous-item'
    'ctrl-k': 'pane:show-next-item'
    ', q': 'tabs:close-tab'
    ', w': 'core:save'